{% extends 'base.html' %}



{% block content %}

{% if error %}
{{ error }}
{% endif %}


<div class="container">
    <br><br><br><br>
    <div class="row mb-3 justify-content-center">
        <div class="col-sm-6">
        <h2>Create Review</h2>
        </div>
        </div>
      <form method="post" action="{% url 'create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mb-3 justify-content-center">
            <label for="inputtext" class="col-sm-2 col-form-label">Title of your game</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="inputtext" name="title">
            </div>
          </div>
         
          <div class="row mb-3 justify-content-center">
            <label for="inputbody" class="col-sm-2 col-form-label">Review Text</label>
            <div class="col-sm-4">
              <textarea class="form-control" id="inputbody" name="body" rows="3"></textarea>
            </div>
          </div>

          
          <div class="row mb-3 justify-content-center">
            <label for="inputurl" class="col-sm-2 col-form-label">Web site</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="inputurl" name="url">
            </div>
          </div>

          <div class="row mb-3 justify-content-center">
            <label for="inputicon" class="col-sm-2 col-form-label">Game Icon</label>
            <div class="col-sm-4">
              <input type="file" class="form-control" id="inputicon" name="icon">
            </div>
          </div>

          <div class="row mb-3 justify-content-center">
            <label for="inputimage" class="col-sm-2 col-form-label">Game screenshot</label>
            <div class="col-sm-4">
              <input type="file" class="form-control" id="inputimage" name="image">
            </div>
          </div>

          <div class="row mb-3 justify-content-center">
          <div class="col-sm-2">
          <button type="submit" class="btn btn-primary">Submit review</button>
          </div>
          </div>
      </form>
   
    
    
        
</div>
{% endblock %}