{% extends 'base.html' %}



{% block content %}
<div class="container">
    <br>
    <div class="row mb-2 ">
        <div class="col-2">
            <img src="{{ product.icon }}" class="img-fluid">
    
        </div>
    </div>
<div class="row mb-2 ">
    
    <div class="col-8" align="center">
        <a href="{{ product.url }}"><h3>{{ product.title }}</h3></a>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-8">
        <img src="{{ product.image }}" class="img-fluid">

    </div>
    <div class="col-4">
       <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-primary btn-lg active">Vote for the game {{ product.votes }}</button></a>
    </div>
</div>

<div class="row">
    <div class="col-4">
        Hunted by <h5>{{ product.hunter.username }}</h5>
    </div>
    <div class="col-4" align="right">
        <h6>{{ product.pub_date_pretty }}</h6>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <br>
        <p>{{ product.body }}</p>
    </div>
</div>

<form id ='upvote' method ='post' action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden">
  </form>

  </div>
{% endblock %}